# Regresión logistica

Ayuda a clasificar los registros en categorias. Sirve para variables discretas.

Predecir si un cliente aleatorio que entra en la tienda va a comprar un producto en particular basandonos en sus ingresos, géneros, historial de compras, etc.

**Regresión lineal**

\begin{equation}
y = \alpha + \beta x
\end{equation}

**Regresión logística**

\begin{equation}
y = \frac{1}{1+e^{-(\alpha+\beta x)}}
\end{equation}

### matemáticas tras la regresión logística
#### Tablas de contingencia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../python-ml-course-master/datasets/gender-purchase/Gender Purchase.csv')
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [3]:
df.shape

(511, 2)

In [6]:
tabla_contingencia = pd.crosstab(df['Gender'], df['Purchase'])
tabla_contingencia

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [5]:
tabla_contingencia['total'] = tabla_contingencia['No']+tabla_contingencia['Yes']
tabla_contingencia

Purchase   No  Yes  total
Gender
Female    106  159    265
Male      125  121    246

In [8]:
tabla_contingencia.astype('float').div(tabla_contingencia.sum(axis=1), axis=0)*100

Purchase         No        Yes
Gender
Female    40.000000  60.000000
Male      50.813008  49.186992